.background {
    height: 100vh; 
    background-size: cover;
}

.hero {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
  }
  
.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 4px;
}