* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  font-family: "Poppins", sans-serif;
  color: #000;
}

p {
  margin-bottom: 0 !important;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.background {
  height: 100vh;
  background-size: cover;
}

.hero {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  background-size: cover;
  background-image: url(../assets/img/jumbotron.png);
}

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 4px;
  color: #fff;
}

.btn-primary a {
  color: #fff;
}

.btn-primary a:hover {
  color: #fff;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.navbar-nav a {
  text-decoration: none;
  font-weight: 500;
  color: #4f4f4f;
  padding: 10px;
}

.navbar-nav a.active {
  color: #28317e;
}

.navbar-nav a:hover {
  color: #28317e;
}

#basic-nav-dropdown {
  padding: 10px;
}

.dropdown-menu a:hover {
  color: #28317e;
}


.title {
  letter-spacing: 1px;
}

.footer-info {
  border: 1px solid rgb(213, 213, 213);
}

.mt-3 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.text-reset:hover {
  color: #28317e !important;
}

/* =================================================== */
/* =================================================== */

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: var(--main-color-1);
  background-color: var(--main-color-3);
  z-index: 5;
}

header .navigation {
  display: flex;
  align-items: center;
}


/* header .navigation ul li a:active {
  font-weight: bold;
} */

header .navigation  a:hover{
  color: var(--main-color-2);
  transition: 0.2s ease-in;
}

.header-name img {
  width: 100px;
}

header .nav-btn {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-color-1);
  display: none;
}

.true_status {
  color: rgb(76, 188, 76);
}

.false_status {
  color: rgb(183, 61, 61);
}
/* =================================================== */
/* =================================================== */

.home-container {
  margin: 60px 50px;
  /* background-image: linear-gradient(to bottom, rgba(246, 241, 241, 1), rgba(25, 167, 206, 0.3)); */
}

.home-container_item {
  display: flex;
  margin: 150px 0;
}

.home-container_item-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.home-container_item-image img {
  width: 80%;
  border-radius: 20px;
}

.home-container_item:nth-child(even) {
  flex-direction: row-reverse;
}

.home-container_item-text {
  margin: auto 50px;
  width: 50%;
  color: var(--main-color-4);
}

.home-container_item-text h4 {
  color: #28317e;
}

.home-container_item-text p {
  text-align: justify;
}

/* =================================================== */
/* =================================================== */

.product-container {
  margin: 100px 50px 50px 50px;
}

.product-container_title {
  margin-bottom: 30px;
}

.product-container_title h3 {
  color: #28317e;
}

.product-container_title h3,
h5 {
  text-align: center;
}

.g-4 {
  justify-content: center;
  align-items: center;
}

/* =================================================== */
/* =================================================== */

.berita-container {
  margin: 100px 50px 50px 50px;
}

.berita-container_title {
  margin-bottom: 30px;
}

.berita-container_title h3 {
  color: #28317e;
}

.berita-container_title h3 {
  text-align: center;
}

.g-4 {
  justify-content: center;
  align-items: center;
}

/* =================================================== */
/* =================================================== */

.about-container {
  margin: 100px 50px 50px 50px;
}

.about-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.about-container_company {
  display: flex;
  padding: 60px 30px;
  /* margin: 50px 20px; */
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-container_company-logo {
  width: 50%;
}

.about-container_company-logo img {
  /* width: 400px; */
  width: 100%;
  display: flex;
  padding: 0 50px;
  margin: auto;
}

.about-container_company-text {
  width: 50%;
}

.about-container_company-text h4 {
  font-size: 26px;
  margin-bottom: 30px;
}

.about-container_company-text h4,
.about-container_duty h4,
.about-container-value h4 {
  color: #28317e;
}

.about-container_duty-vismis h5 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #28317e;
}

.about-container_company-text p {
  font-size: 16px;
  text-align: justify;
}

.about-container_duty {
  display: flex;
  padding: 60px 30px;
}

.about-container_duty-vismis {
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}

.about-container_duty-vission {
  margin-bottom: 20px;
}

.about-container_duty-vission h5 {
  text-align: left;
}

.about-container_duty-mission h5 {
  text-align: left;
}

.about-container_value {
  width: 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}


/* =================================================== */
/* =================================================== */

.Berita-container {
  margin: 100px 50px 50px 50px;
}

.Berita-container-title {
  text-align: justify;
}

.Berita-container-title h3 {
  color: #28317e;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

/* =================================================== */
/* =================================================== */

.berita-page-container {
  margin: 100px 50px 50px 50px;
}

.berita-page-container h3 {
  font-size: 32px;
  margin: 0px 350px 20px;
  color: #28317e;
}

.berita-page-container h6 {
  margin: 0px 350px 20px ;
  font-weight: 400;
}

.berita-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.berita-container_detail {
  margin-top: 50px;
}

.berita-container_detail-content {
  margin: 50px 350px;
}

.lsmart-container_detail-feature h4,
.lsmart-container_detail-requirement h4 {
  color: #28317e;
}

/* =================================================== */
/* =================================================== */

.pinjaman-container {
  margin: 100px 50px 50px 50px;
}

.pinjaman-container-title {
  text-align: justify;
}

.pinjaman-container-title h3 {
  color: #28317e;
  font-weight: 600;
  text-align: center;
}

.pinjaman-container h5 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.pinjaman-container_item {
  display: flex;
  margin: 70px 0;
}

.pinjaman-container_item-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.pinjaman-container_item-image img {
  width: 60%;
  border-radius: 20px;
}

.pinjaman-container_item-text {
  margin: auto 50px;
  width: 50%;
}

.pinjaman-container_item-text p {
  text-align: left;
}

/* =================================================== */
/* =================================================== */

.dana-container {
  margin: 100px 50px 50px 50px;
}

.dana-container-title {
  text-align: justify;
}

.dana-container-title h3 {
  color: #28317e;
  font-weight: 600;
  text-align: center;
}

.dana-container h5 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.dana-container_item {
  display: flex;
  margin: 70px 0;
}

.dana-container_item-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.dana-container_item-image img {
  width: 60%;
  border-radius: 20px;
}

.dana-container_item-text {
  margin: auto 50px;
  width: 50%;
}

.dana-container_item-text p {
  text-align: left;
}

/* =================================================== */
/* =================================================== */

.layanan-container {
  margin: 100px 50px 50px 50px;
}

.layanan-container-title {
  text-align: justify;
}

.layanan-container-title h3 {
  color: #28317e;
  font-weight: 600;
  text-align: center;
}

.layanan-container h5 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.layanan-container_item {
  display: flex;
  margin: 70px 0;
}

.layanan-container_item-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.layanan-container_item-image img {
  width: 60%;
  border-radius: 20px;
}

.layanan-container_item-text {
  margin: auto 50px;
  width: 50%;
}

.layanan-container_item-text p {
  text-align: left;
}

/* =================================================== */
/* =================================================== */

.value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  height: 10%;
  column-gap: 10px;
}

.value-icon-top {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  margin: 25px 0;
}

.value-icon-top svg {
  width: 20px !important;
  height: 20px !important;
}

.value-icon-top svg path {
  fill: #fff;
}

.value-container:first-of-type .value-icon-top {
  background-color: #6f5fa6 !important;
}

.value-container:nth-of-type(2) .value-icon-top {
  background-color: #3c7ff1 !important;
}

.value-container:nth-of-type(3) .value-icon-top {
  background-color: #7bd88a !important;
}

.value-container:nth-of-type(4) .value-icon-top {
  background-color: #f74c58 !important;
}

.value-container:nth-of-type(5) .value-icon-top {
  background-color: #f7cc62 !important;
}

.value-text-top {
  width: 100%;
  padding: 10px;
}

.value-text-top p {
  margin: 0;
  line-height: 15px;
}

.value-text-top h5 {
  padding-bottom: 2px;
  color: #28317e;
  text-align: left;
}

.about-container-structure {
  padding: 30px 30px 60px 30px;
}

.about-container-structure > ul {
  padding: 50px 15px;
}

.div-structure {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.div-structure h4 {
  font-weight: bold;
}

.card > img {
  aspect-ratio: 1.5;
}
/* =================================================== */
/* =================================================== */

.contact-container {
  margin: 100px 50px 50px 50px;
}

.contact-container h5 {
  color: #28317e;
}

.contact iframe {
  border-radius: 10px;
}

.contact-box {
  margin: 50px auto 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(32, 33, 36, 0.126);
  /* box-shadow: 0px 5px 25px #00365139, 0px 2px 6px #67869535; */
  width: 100%;
}

.contact-item {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  padding: 20px;
}

.contact-item h5 {
  text-align: left;
}

.contact-item_icon {
  color: #28317e;
  font-size: 30px;
  display: flex;
}

/* =================================================== */
/* =================================================== */

.card-body {
  height: 200px;
}

.card {
  /* box-shadow: 2px 3px 8px -1px #999 !important; */
  box-shadow: 0 5px 15px rgba(32, 33, 36, 0.151) !important;
}

.card-img-top {
  border-bottom: 1px solid #b3b3b3;
}

.layanan-container > h3,
.dana-container > h3,
.pinjaman-container > h3,
.contact-container > h3 {
  text-align: center;
  font-size: 32px;
  padding: 10px;
  margin: 20px 10px;
  color: #28317e;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: left;
}

/* ================================================= */
/* ================================================= */

.lonline-container {
  margin: 100px 50px 50px 50px;
}

.lonline-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.lonline-container p {
  text-align: center;
}

.lonline-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lonline-container_detail {
  margin-top: 50px;
}

.lonline-container_detail-feature h4,
.lonline-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.lsmart-container {
  margin: 100px 50px 50px 50px;
}

.lsmart-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.lsmart-container p {
  text-align: center;
}

.lsmart-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lsmart-container_detail {
  margin-top: 50px;
}

.lsmart-container_detail-feature h4,
.lsmart-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.qris-container {
  margin: 100px 50px 50px 50px;
}

.qris-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.qris-container p {
  text-align: center;
}

.qris-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.qris-container_detail {
  margin-top: 50px;
}

.qris-container_detail-feature h4,
.qris-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.lsaving-container {
  margin: 100px 50px 50px 50px;
}

.lsaving-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.lsaving-container p {
  text-align: center;
}

.lsaving-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.lsaving-container_detail {
  margin-top: 50px;
}

.lsaving-container_detail-feature h4,
.lsaving-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.simpeda-container {
  margin: 100px 50px 50px 50px;
}

.simpeda-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.simpeda-container p {
  text-align: center;
}

.simpeda-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.simpeda-container_detail {
  margin-top: 50px;
}

.simpeda-container_detail-feature h4,
.simpeda-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.tabunganku-container {
  margin: 100px 50px 50px 50px;
}

.tabunganku-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.tabunganku-container p {
  text-align: center;
}

.tabunganku-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.tabunganku-container_detail {
  margin-top: 50px;
}

.tabunganku-container_detail-feature h4,
.tabunganku-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.simpel-container {
  margin: 100px 50px 50px 50px;
}

.simpel-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.simpel-container p {
  text-align: center;
}

.simpel-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.simpel-container_detail {
  margin-top: 50px;
}

.simpel-container_detail-feature h4,
.simpel-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.giro-container {
  margin: 100px 50px 50px 50px;
}

.giro-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.giro-container p {
  text-align: center;
}

.giro-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.giro-container_detail {
  margin-top: 50px;
}

.giro-container_detail-feature h4,
.giro-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.deposito-container {
  margin: 100px 50px 50px 50px;
}

.deposito-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.deposito-container p {
  text-align: center;
}

.deposito-container_company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.deposito-container_detail {
  margin-top: 50px;
}

.deposito-container_detail-feature h4,
.deposito-container_detail-requirement h4 {
  color: #28317e;
}

/* ================================================= */
/* ================================================= */

.pinjaman-item-container {
  margin: 100px 50px 50px 50px;
}

.pinjaman-item-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #28317e;
}

.pinjaman-item-container > p {
  text-align: center;
}

.pinjaman-item_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.pinjaman-item_detail {
  margin-top: 50px;
}

.pinjaman-item_detail-konstruksi > p {
  margin-top: 15px !important;
}

.pinjaman-item_detail-information h4,
.pinjaman-item_detail-benefit h4,
.pinjaman-item_detail-requirement h4,
.pinjaman-item_detail-konstruksi h4 {
  color: #28317e;
  margin-top: 20px;
}

.pinjaman-item_detail-requirement > ol > li {
  margin-top: 15px !important;
}

/* ================================================= */
/* ================================================= */
.info-footer {
  margin-top: 25px;
}

.info-footer h6 {
  color: #28317e;
}

.desk-footer p {
  text-align: left;
}

/* ================================================= */
/* ================================================= */

@media screen and (max-width: 576px) {
  .home-container {
    margin: 50px 20px;
  }

  .home-container_item {
    margin: 50px 10px !important;
  }

  .home-container_item-image img {
    width: 250px;
  }

  .home-container_item-text {
    font-size: 14px;
    margin: 0 10px;
  }

  .home-container_item-text h4 {
    font-size: 28px;
  }

  .about-container_company-text p {
    font-size : 14px;
  }

  .about-container_duty {
    flex-wrap: wrap;
  }

  .about-container_duty-vismis {
    width: 100%;
    border: none;
    padding: 0;
  }

  .about-container_duty-vismis p,li {
    font-size: 14px;
  }

  .about-container_duty-vission p {
    text-align: justify;
  }

  .about-container_duty-mission li {
    text-align: justify;
  }

  .about-container_value {
    width: 100%;
    border: none;
    margin-top: 20px;
  }

  .value-container {
    margin-bottom: 50px;
  }

  .value-container p {
    font-size: 14px;
  }

  .value-text-top h5 {
    font-size: 18px;
  }

  .contact-box {
    justify-content: flex-start;
  }

  .desk-footer p {
    text-align: center;
  }

  .css-1vs3jbz:last-of-type {
    font-size: small;
  }

  .div-structure h4 {
    font-size: x-small;
  }

  .div-structure p {
    font-size: x-small;
  }

}

/* ================================================= */
@media screen and (max-width: 768px) {

  header {
    padding: 16px 25px;
  }

  header .nav-btn {
    display: flex;
  }

  header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28317e;
    transition: 0.75s;
    transform: translateY(-100vh);
  }

  header .navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
  }

  .home-container {
    margin: 50px 30px;
  }

  .home-container_item {
    margin: 90px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .home-container_item-image {
    margin-bottom: 50px;
  }

  .home-container_item-image img {
    width: 350px;
  }

  .home-container_item-text {
    width: 100%;
  }

  .home-container_item-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .home-container_item-text p {
    text-align: justify;
  }

  .contact-box {
    justify-content: flex-start;
  }

  .desk-footer p {
    text-align: center;
  }

  .about-container_company {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .about-container h4 {
    margin-bottom: 15px;
    text-align: center;
  }

  .about-container_company-logo {
    margin: auto;
    width: 100%;
  }

  .about-container_company-logo img {
    width: 320px;
  }

  .about-container_company-text {
    width: 100%;
    margin-top: 20px;
  }

  .about-container_duty {
    flex-wrap: wrap;
  }

  .about-container_duty-vismis {
    width: 100%;
    border: none;
    padding: 0;
  }

  .about-container_duty-vission p {
    text-align: justify;
  }

  .about-container_duty-mission li {
    text-align: justify;
  }

  .about-container_value {
    width: 100%;
    border: none;
    margin-top: 20px;
  }

  .value-container p {
    text-align: justify;
  }

  .about-container-structure {
    margin: 90px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .layanan-container_item {
    margin: 90px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .layanan-container_item-image {
    margin-bottom: 50px;
  }

  .layanan-container_item-image img {
    width: 350px;
  }

  .layanan-container_item-text {
    width: 100%;
  }

  .layanan-container_item-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .layanan-container_item-text p {
    text-align: justify;
  }

  .dana-container_item {
    margin: 90px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dana-container_item-image {
    margin-bottom: 50px;
  }

  .dana-container_item-image img {
    width: 350px;
  }

  .dana-container_item-text {
    width: 100%;
  }

  .dana-container_item-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .dana-container_item-text p {
    text-align: justify;
  }

  .pinjaman-container_item {
    margin: 90px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .pinjaman-container_item-image {
    margin-bottom: 50px;
  }

  .pinjaman-container_item-image img {
    width: 350px;
  }

  .pinjaman-container_item-text {
    width: 100%;
  }

  .pinjaman-container_item-text h4 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .pinjaman-container_item-text p {
    text-align: justify;
  }
}
